body{
    margin: 0px;
    background-color: #FEFAEF

}

.container-big{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFAEF;
    height: 100vh;

}

.container-content{
    background-color: #FEFAEF;
    width: 900px;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mycontainer-left{
    
    background-color: #27355C;
    border-radius: 10px 0px 0px 10px;
    width: 300px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.img-size{
    object-fit: cover;
    height:250px;
    border-radius: 10px 10px 0px 0px;
    width:700px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 10px;

}
.flex a{
    margin-bottom:30px;
    font-size: 30px;
    border-left: 7px transparent solid;
    padding-left: 77px;
    padding-right: 77px;
    text-decoration: none;
    color: white;

}
.clicked-border{
    border-left: 7px solid white !important;
}
.flex a:hover{
    border-left: 7px solid white;
    cursor: pointer;

}

.container-right{
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
    width: 600px;
    height:500px;
    background-image: url("img/brainbg.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blue-btn{
    background-color: #27355C;
    color: white;
    width:100px;
    height: 40px;
    border-radius: 30px;

}

.card{
    height: 600px;
    width : 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.answers {
        border: 1px solid black;
        display: flex;
        height: 50px;
        width: 600px;
        margin-top: 10px;
        align-items: center;
        text-decoration: none;
        color: black;
        justify-content: center;
        cursor: pointer;
}

.card a:hover{
    background-color: rgba(0,0,0,0.1);
}


.question-footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.right-answer{
    background-color: greenyellow;
}
.wrong-answer{
    background-color: red;
}